<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$type}</title>
<link rel="stylesheet" type="text/css" href="/dmb/Public/style/common.css"/>
<script src="dmb/Public/js/jquery.min.js"></script>

<script src="dmb/Public/js/jquery.min.js"></script>
</head>

<body>
<div class="header">
	<ul>
		<li><a href="__APP__">首页</a></li>
		<li><a href="__URL__/group/type/art" >编程艺术</a></li>
		<li><a href="__URL__/weiart">微言微雨</a></li>
		<li><a href="__URL__/group/type/whisper">低声细语</a></li>
		<li><a href="__APP__/Photos">图片采集</a></li>
		<li><a href="__APP__/Movie">岛国资源</a></li>
		<li><a href="">侧耳倾听</a></li>
		<li><a href="__APP__/Itouch">爱感动</a></li>
	</ul>
</div>
<div class="container">
  <div class="content">
	<foreach name="showart" item="row">
    <div class="title"><h3>{$row.title|htmlspecialchars_decode}</h3></div>
    <div class="info">创建时间:&nbsp;{$row.createtime|date='Y-m-d',###}&nbsp;|&nbsp;类型：{$row.type}&nbsp;|&nbsp;作者：{$row.author}</div>
    <div class="text">{$row.content|stripslashes|htmlspecialchars_decode|nl2br|msubstr=0,1001}</div>
	<div class="readmore"><a href="__URL__/detail/id/{$row.id}">阅读全文>></a></div>
	</foreach>
   </div>
	<!-- Duoshuo Comment BEGIN --
	<div class="ds-thread"></div>
	<script type="text/javascript">
		var duoshuoQuery = {short_name:"dmb"};
			(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = 'http://localhost/blog/Public/js/embed.js';
				ds.charset = 'gb2312';
				(document.getElementsByTagName('head')[0] 
				|| document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
	</script>
	<!-- Duoshuo Comment END -->

    <!-- end .content -->
	<div class="sidebar">
		<div class="search">
				<form action="__URL__/search" method="post" >
				<input type="text" name="keyword" />
				<input type="submit" value="find" />
				</form>
		</div>
		<div class="side_box">
		<h4>标签 </h4>
			<div class="tags">
			<ul>
			<volist name="contain" id="vol1">
				<volist name="vol1" id="vol2">
					<li><a href="__URL__/tagsort/tag/{$vol2}">{$vol2}</a></li>	
				</volist>
			</volist>
			</ul>
			</div>
		</div>
		<div class="side_box">
		<h4>热门推荐 </h4>
			<ul class="tmo_list">
				<foreach name="hot" item="hotlist">
					<li><a href="__URL__/detail/id/{$hotlist.id}">&nbsp;{$hotlist.title}</a></li>
				</foreach>
			</ul>
		</div>
		<div class="side_box">
		<h4>热门推荐 </h4>
			<ul>
			<foreach name="cate" item="clist">
				<li><a href="__URL__/catesort/c/{$clist.type}">&nbsp;{$clist.type}</a></li>
			</foreach>
			</ul>
		</div>
		<div class="side_box">
			<h4>归档 </h4>
			<ul >
				<li><a href="__APP__/Index/timesort/t/w">近一个礼拜（{$inweek}）</a></li>
				<li><a href="__APP__/Index/timesort/t/m">近一个月（{$inmonth}）</a></li>
				<li><a href="__APP__/Index/timesort/t/sm">近三个月（{$inthree}）</a></li>
				<li><a href="__APP__/Index/timesort/t/l">long long ago({$longago})</a></li>
			</ul>
		</div>
	</div><!-- end .sidebar2 -->
  </div><!-- end .container -->
</body>
</html>
