 <div class="footer">
	<div class="link">
		<ul>
			<li><a href="www.phpchina.com" target="_blank">phpchina</a></li>
			<li><a href="" target="_blank">CSDN</a></li>
			<li><a href="huaban.com" target="_blank">花瓣网</a></li>
			<li><a href=""target="_blank">视觉中国</a></li>
			<li><a href="http://hi.baidu.com"target="_blank">百度空间</a></li>
			<li><a href="http://www.oschina.net/"target="_blank">开源中国</a></li>
			<li><a href="http://python.cn/"target="_blank">python中文社区</a></li>
			<li><a href=""target="_blank">糗事百科</a></li>
			<li><a href="http://nosql-db.com"target="_blank">nosql社区</a></li>
			<li><a href="http://www.jb51.net"target="_blank">脚本之家</a></li>
			<li><a href="www.byvoid.com" target="_blank">郭爷blog</a></li>
			<li><a href="" target="_blank">杨青青个人站</a></li>
			<li><a href="" target="_blank">伯爵在城堡</a></li>
			<li><a href="www.github.com" target="_blank">github</a></li>
			<li><a href="http://cnodejs.org/" target="_blank">cnode</a></li>
			<li><a href="http://segmentfault.com/" target="_blank">segmentfault</a></li>
			<li><a href="" target="_blank">伯爵在城堡</a></li>
			<li><a href="" target="_blank">伯爵在城堡</a>
			</li><li><a href="" target="_blank">伯爵在城堡</a></li>
		</ul>
		<div id="power">@power by crab</div>
	</div>
</div
</body>
</html>