<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>bogy</title>
	<link href="static/assets/raphaelicons.css" rel="stylesheet">
	<link href="static/style/topic.css" rel="stylesheet" type="text/css">
	<!--link href="static/style/Home.css" rel="stylesheet" type="text/css">
	<!--script src="static/js/dialog.js" type="text/javascript"></script-->
	
	<script src="static/js/jquery.js" type="text/javascript"></script>
	<style type="text/css">
		body{
			color:#666;
		}
	</style>
</head>
<body>
<{layout:Common/lmenu}>
<{layout:Common/header}>

<div class="sidebar2">
	
	<div class="userinfo">
	
		<div class="uname">crab</div>
		
	</div>
	

</div>
<div class="contentw">
	<div class="header"><span class="icon">;</span><span1>文章</span1></div>
	<div class="content">
		<section>
			<div class="iwrap">
				<div class="img">
					<img src="static/thumb/usericon.jpg" />
				</div>
			</div>
			<h3>前端</h3>
			<h4>斑竹：螃蟹快跑</h4>
			<h5>下雨了，螃蟹快爬</h5>
			<div class="fbutton"></div>
		</section>
		<section>2</section>
		<section>3</section>
		<section>4</section>
		<section>5</section>
	</div>
</div>
	


</body>
</html>