<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>卑鄙的我—I分享</title>
<meta name="keywords" content=", marble, design, theme, web, free templates, website templates, CSS, HTML" />
<meta name="description" content="Blue Marble Theme is a free website template provided by templatemo.com" />
<link href="/dmb/Public/style/hhindex.css" rel="stylesheet" type="text/css" />
<script src="/dmb/Public/js/jquery-1.8.1.js" type="text/javascript"></script>

<!--script src="dmb/Public/js/jquery.nivo.slider.js" type="text/javascript"></script-->
<style type="text/css">
.pbox{
	float:left;
	width:760px;
	overflow:hidden;
	padding-bottom: 10px; 
	border-bottom: 1px solid #efefef;
	z-index:100;
}
.pbox .context{
	position:relative;
	float:left;
	width:750px;
	padding:10px;

}
.pbox .comment{
	display:none;

}
.pbox .dscomment{
	float:right;
	width:100px;
	text-align:center;
}
.pbox .comment textarea{
	float:left;
	width:750px;
	height:80px;
	border:1px solid #999;
	resize:none;
	overflow:hidden;
}
.pbox .comment .subinfo{
	float:left;
	width:750px;
	height:28px;
	margin-top:10px;
}
.pbox .comment .subinfo input{
	float:left;
}
.pbox .comment .subinfo a{
	float:right;
}
.pbox .comment .ctext{
	float:left;
	width:730px;
	margin-top:10px;
	padding:10px 10px 2px 10px;
	border:1px solid #EFEFEF;

}
</style>
</head>
<body>
<div class="header">
	<ul>
		<li><a href="__APP__">首页</a></li>
		<li><a href="__URL__/group/type/art" >编程艺术</a></li>
		<li><a href="__URL__/weiart">微言微雨</a></li>
		<li><a href="__URL__/group/type/whisper">低声细语</a></li>
		<li><a href="__APP__/Photos">图片采集</a></li>
		<li><a href="__APP__/Movie">岛国资源</a></li>
		<li><a href="">侧耳倾听</a></li>
		<li><a href="__APP__/Resume">个人简历</a></li>
		<li><a href="__APP__/Itouch">爱感动</a></li>
	</ul>
</div> <!-- end of templatemo_menu -->
<div id="hh_main_wrapper">
	<div id="hh_main">
    	<div id="hh_content">
				<foreach name="rowset" item="row">
				<div class="pbox">
					<div class="title">
						
						<h4>{$row.title|msubstr=0,20|htmlspecialchars_decode}</h4>
						<div class="post_meta">
							<strong>Date:</strong> {$row.time}|
							<strong>Author:</strong> {$row.author} |
						</div>
					</div>
					<div class="context"><p>{$row.content|stripslashes|htmlspecialchars_decode|nl2br}</p></div>
					<a href="javascript:void(0);" class="dscomment" >展开评论</a>
					<div class="comment" >
						<form action="" method="">
							<textarea name="" cols="93" rows="4"></textarea>
							<div class="subinfo">
								<input type="hidden" name="id" value="{$row.wid}" />
								<input type="text" name="nick" />*昵称
								<a href="javascript:void(0);" onclick="sub_comment(this)">
								发表评论</a>
							</div>
						</form>
						<div class="ctext" id="{$row.wid}"></div>
					</div>
				</div>
                </foreach> 
				<div class="pages">{$pages}</div>
			<script type="text/javascript">
				$(function(){
					
					$(".dscomment").toggle(function(){
							$(this).html("收起评论");
							$(this).next().show();
							showComment(this);
					},function(){
							$(this).html("展开评论");
							$(this).next().hide();
							
					});
				});
				function sub_comment(obj){
					var id=$(obj).prev().prev().val();
					var content=$(obj).parent().prev().val();
					var nick=$(obj).prev().val();
					var url="http://localhost/index.php/Index/sub_comment";
					if(content=='' || nick==''){
						alert("请确认评论信息完成");
					}else{
						$.ajax({
							type: "post",
							url:url,		
							data:"id="+id+"&username="+nick+"&content="+content,
							success:function(msg){
								alert(msg);
							}
						});
					}
				}
				function showComment(param){
					var cid=$(param).next().children(".ctext").attr("id");
					var reply=$(param).next().children(".ctext").html();
					var cnode=$(param).next().children(".ctext");
					if(reply==''){
					$.get('http://localhost/index.php/Index/showcomment/id/'+ cid,'',function(data){
						cnode.append(data);
						},"text");
					}
			}
			</script>
		</div>
        <div id="hh_sidebar">
			<div class="sidebar_box">
					<form method="post" action="__URL__/" >
						<input type="text" name="sch" /> 
						<input type="submit" value="submit" />
					</form>
			</div>	
			<div class="sidebar_box">
				<div class="tags">
					<h4>标签 </h4>
					<ul>
						<volist name="contain" id="vol1">
							<volist name="vol1" id="vol2">
								<li><a href="__URL__/tagsort/tag/{$vol2}">{$vol2}</a></li>	
							</volist>
						</volist>
					</ul>
				</div>
			</div>
			<div class="sidebar_box">
            	<h4>热门推荐 </h4>
                <ul class="tmo_list">
                    <foreach name="hot" item="hotlist">
						<li><a href="__URL__/detail/id/{$hotlist.id}">&nbsp;{$hotlist.title}</a></li>
					</foreach>
                </ul>
            </div>
			<div class="sidebar_box">
            	<h4>文章分类</h4>
                <ul class="tmo_list">
                    <foreach name="cate" item="clist">
						<li><a href="__URL__/catesort/c/{$clist.type}">&nbsp;{$clist.type}</a></li>
					</foreach>
                </ul>
            </div>
			<div class="sidebar_box">
            	<h4>归档 </h4>
                <ul class="tmo_list">
					<li><a href="__APP__/Index/timesort/t/w">近一个礼拜（{$inweek}）</a></li>
					<li><a href="__APP__/Index/timesort/t/m">近一个月（{$inmonth}）</a></li>
					<li><a href="__APP__/Index/timesort/t/sm">近三个月（{$inthree}）</a></li>
					<li><a href="__APP__/Index/timesort/t/l">long long ago({$longago})</a></li>
                </ul>
            </div>
            
            <div class="sidebar_box">
            	<h4>微生活</h4>
				<foreach name="wy" item="wloop" >
                    <li><a href="#" > <span style="color:#FED954;"><{$wloop.title}></span> </a></li>
					<p><strong>Date</strong>:{$wloop.time|date}||</p>
                    <p>{$wloop.content|msubstr=0,70}</p>
				</foreach>
            </div>
        </div>	
    </div> <!-- end of main -->
</div> <!-- end of main wrapper -->

</body>
</html>