/* initApp 通用后台index框架样式 */

/* 全局容器 */
.warp { width:100%; height:100%; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
/* 头部 header CSS样式 */
.header { width:100%; height:60px; background: url("../../images/admin/head_bg.png") repeat scroll 0 0 transparent;filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8; border-bottom: 1px solid #666666; margin-bottom:15px;}
.header .logo { width:160px; padding-left:20px; color:#FFFFFF; padding-top:15px; height:45px; font-size:20px; font-weight:bold; float:left;}
.header .banner { width:600px; float:left;}
.header .banner ul {list-style-type:none; margin-top:20px; margin-left:50px;}
.header .banner ul li {text-align:center; width:70px; height:18px; border-right:1px #CCCCCC solid; color:#FFFFFF; font-size:14px; font-weight:bold; float:left; cursor:pointer;}
.header .banner .checked { color:#FF0000; font-size:16px;}
.header .head_right { float:right; padding-right:50px; padding-top:20px;color:#FFFFFF;}
.header .head_right a{ color:#FFFFFF;}
/* 主题部分 main 样式*/
.main { width:100%;min-height:650px;}
.main .left { width:160px;min-height:614px; margin-left:0px;  float:left;}
.main .left .title {
	width:155px; 
	height:23px; 
	padding:7px 0 0 15px;
	color:#FFF;
	background:#b3b3b3;
	font-weight:bold; 
	font-size:14px; 
	border-bottom:1px solid#fff;
}
.main .left .open {background:#faa;}
.main .left ul {list-style-type:none;}
.main .left ul li {background-color:#fff; width:155px; height:23px; padding-top:7px; padding-left:15px; margin-top:1px;  cursor:pointer;}
.main .left .selected { background-color:#993300;filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;}
.main .left .over { background-color:#CCCCCC; filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.main .right {margin-left:230px; margin-left:230px !important; *margin-left:235px;
background-color:#FFFFFF;min-height:600px; margin-right:15px; padding:15px; height:auto;}
.main .right_all{margin-left:15px; margin-left:15px !important; *margin-left:15px;}
/* 脚步模板 */
.footer { height:40px; margin-left:20px; margin-right:20px; border-top: 1px solid #DDDDDD; margin-top:15px;}
.footer .info {height:30px;  color:#FFFFFF; padding:5px; color:#999999;}
/**登陆框**/
.login_warp { height:100%; background-color:#F5F5F5; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
