<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<{if (STATIC_PATH != '')}>
<base href="<{echo STATIC_PATH;}>" />
<{ }}>
<title>一款通用后台</title>
<link href="static/style/admin/comm.css" rel="stylesheet" type="text/css">
<link href="static/style/admin/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="login_main">
  <div class="login_title"></div>
  <div class="login_form">
    <form id="login" action="/?m=Admin&c=index&a=checklogin" method="post" name="login"> 
      <input type="hidden" value="c9a36196" name="initphp_token">
      <input id="admin_name" class="login_input" type="text" name="username" tabindex="1" > 
      <input id="admin_pwd" class="login_input" type="password" name="password" tabindex="2" > 
	  <input id="admin_verify" class="login_input" type="text" name="verify" tabindex="3" > 
	  <img src="<{$verify}>" > 
     <button type="submit"> <input class="login_btn" type="image" src="static/images/admin/btn2.png" ></button>
    </form>
  </div>
  <div class="login_msg" id="msg">
  <div class="login_msg_img"><img src="static/images/admin/no.gif"></div>
  <div id="login_msg_str"></div>
  </div>
</div>
<script src="static/js/common/jquery.js" type="text/javascript"></script>
<script src="static/js/common/jquery.form.js" type="text/javascript"></script>

</body>
</html>
