<div class="content_tab">
  <ul>
    <li name="<!--{echo $groupRun;}-->">用户组列表</li>
    <li class="checked"  name="<!--{echo $groupAdd;}-->">新增用户组</li>
  </ul>
</div>
<div class="content">
  <h1>添加用户组</h1>
  <form name="addGroup" method="post" id="addGroup" action="<!--{echo $groupAdddo;}-->">
    <input name="init_token" type="hidden"  value="<!--{echo $init_token;}-->" >
    <table>
      <tr>
        <th width="200">用户组名称</th>
        <td class="top_broder"><input name="name" value="" maxlength="20" class="input"  />
          <span>用户名长度5-20个字符之间</span> </td>
      </tr>
      <tr>
        <h1></h1>
        <th width="200">用户组描述</th>
        <td><textarea name="descrip" class="textarea"></textarea></td>
      </tr>
      <tr>
        <th width="200">用户组权限</th>
        <td><!--{foreach($navConfigList['nav'] as $key => $value) { }-->
          <div style=" width:660px; padding:10px 0;">
          <div style="width:60px; float:left;">
            <label>
            <input name="<!--{echo $key;}-->" type="checkbox" class="checked_all">
            <b>
            <!--{echo $value;}-->
            </b></label>
          </div>
          <div style=" width:580px; float:left; margin-bottom:20px;">
            <!--{foreach($navConfigList['sidebar'][$key] as $k => $v) { }-->
            <div style="width:100%;">
              <div style="width:100px; float:left; font-weight:bold;">
                <input name="<!--{echo $k;}-->" type="checkbox" class="checked_self checked_<!--{echo $key;}-->">
                <!--{echo $v[title];}-->
              </div>
              <div style="width:480px; float:left;">
                <!--{foreach($navConfigList['sidebar'][$key][$k]['option'] as $val) { }-->
                <label style="width:160px; float:left;">
                <input name="rvalue[]" type="checkbox" value="<!--{echo $key . '_' . $k . '_' . $val[1] . '_' . $val[2];}-->" class="checked_<!--{echo $key;}--> checked_self_<!--{echo $k;}-->">
                <!--{if ($val[3] == 0) {}-->
                <span style="color:#666666;">
                <!--{}else{}-->
                <span style="color:#FF6600">
                <!--{}}-->
                <!--{echo $val[0];}-->
                </span> </label>
                <!--{ } }-->
              </div>
            </div>
            <!--{ } }-->
          </div>
          <!--{ } }-->
        </td>
      </tr>
      <tr>
        <th width="200"></th>
        <td><input value="提交" type="submit" class="btn2" /><span id="ajax_msg"></span></td>
      </tr>
    </table>
  </form>
</div>
<script type="text/javascript">
$(document).ready(function() {
	submitForm('addGroup', '<!--{echo $groupRun;}-->');
	$(".checked_all").bind("click", function () {
		var val = $(this).attr('name');
		if ($(this).attr('checked') == true) {
			var is_checked = 1;
		} else {
			var is_checked = 0;
		}
		$(".checked_" + val).each(
			function (i) {
				if (is_checked == 1) {
					$(".checked_" + val).eq(i).attr("checked","checked");
				} else {
					$(".checked_" + val).eq(i).attr("checked","");
				}
			}
		);
	});
	$(".checked_self").bind("click", function () {
		var val = $(this).attr('name');
		if ($(this).attr('checked') == true) {
			var is_checked = 1;
		} else {
			var is_checked = 0;
		}
		
		$(".checked_self_" + val).each(
			function (i) {
				if (is_checked == 1) {
					$(".checked_self_" + val).eq(i).attr("checked","checked");
				} else {
					$(".checked_self_" + val).eq(i).attr("checked","");
				}
			}
		);
	});
});
</script>
