<div class="content_tab">
<ul>
<li name="<!--{echo $userRun;}-->">管理员列表</li>
<li class="checked" name="<!--{echo $userAdd;}-->">新增管理员</li>
</ul>
</div>
<div class="content">
  <h1>添加管理员</h1>
  <form name="addUser" method="post" id="addUser" action="<!--{echo $userAdddo;}-->">
  <input name="init_token" type="hidden"  value="<!--{echo $init_token;}-->" >
    <table>
      <tr>
        <th width="200">用户名</th>
        <td class="top_broder"><input name="username" value="" maxlength="20" class="input"  />
		<span>用户名长度5-20个字符之间</span>
		</td>
      </tr>
      <tr>
        <th width="200">用户密码</th>
        <td><input name="password" type="password" value=""  maxlength="20" class="input" />
		<span>用户密码长度6-20个字符之间</span>
		</td>
      </tr>
      <tr>
        <th width="200">重复密码</th>
        <td><input name="r_password" type="password" value=""  maxlength="20" class="input" /></td>
      </tr>
	   <tr>
        <th width="200">电子邮箱</th>
        <td class="top_broder"><input name="email" value=""  maxlength="60" class="input"  />
		<span>电子邮箱必填</span>
		</td>
      </tr>
	  	   <tr>
        <th width="200">用户组</th>
        <td class="top_broder">
		<select name="groupid">
		<!--{foreach ($groupList as $key => $value) { }-->
		<option value="<!--{echo $value['groupid'];}-->"><!--{echo $value['name'];}--></option>
		<!--{}}-->
		</select>
		</td>
      </tr>
      <tr>
        <th width="200"></th>
        <td>
		<input value="提交" type="submit" class="btn2" /><span id="ajax_msg"></span>
		</td>
      </tr>
    </table>
  </form>
</div>
<script type="text/javascript">
$(document).ready(function() {
	submitForm('addUser', '<!--{echo $userRun;}-->');
});
</script>
