<div class="content_tab">
  <ul>
    <li class="checked"  name="<{echo $indexDefault;}>">一款通用后台</li>
  </ul>
</div>
<div class="content"">
  <h1>系统参数</h1>
  <table>
    <tr>
      <th width="200">版本</th>
      <td class="top_broder"><{echo $phpInfo['version'];}></td>
    </tr>
    <tr>
      <th width="200">系统</th>
      <td class="top_broder"><{echo $phpInfo['system'];}></td>
    </tr>
    <tr>
      <th width="200">最大执行时间</th>
      <td class="top_broder"><{echo $phpInfo['max_time'];}></td>
    </tr>
    <tr>
      <th width="200">最大上传文件</th>
      <td class="top_broder"><{echo $phpInfo['max_upload'];}></td>
    </tr>
    <tr>
      <th width="200">GD库版本</th>
      <td class="top_broder"><{echo $phpInfo['gd'];}></td>
    </tr>
    <tr>
      <th width="200">脚本运行占用最大内存</th>
      <td class="top_broder"><{echo $phpInfo['memory'];}></td>
    </tr>
    <tr>
      <th width="200">服务器端信息</th>
      <td class="top_broder"><{echo $phpInfo['server'];}></td>
    </tr>
    <tr>
      <th width="200">Zend版本</th>
      <td class="top_broder"><{echo $phpInfo['zend'];}></td>
    </tr>
    <tr>
      <th width="200">当前时间</th>
      <td class="top_broder"><{echo $phpInfo['now_time'];}></td>
    </tr>
    <tr>
      <th width="200">系统开发</th>
      <td class="top_broder">zhuli,小耗子,Yongliang</td>
    </tr>
	
  </table>
</div>
